/*
.custom-input {
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border-radius: 32px;
    border-color: var(--primary-light);
}

*/

.custom-input {
    width: 100%;
    padding: 12px 12px 12px 40px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}


.custom-input:focus {
    outline: none;
    border-color: var(--primary-light);
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.custom-input::placeholder {
    color: #9ca3af;
}