.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Arka planı karartır */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Üstte olsun */
  }

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    width: 500px; /* <-- BU SATIR ÇOK ÖNEMLİ */
    max-width: 90%; /* mobil uyumlu olsun diye */
    min-height: 400px;
    text-align: center;
    color: black;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
